* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	font-family: "Roboto", sans-serif;
	background-image: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
	line-height: 1.6;
	margin: 0;
	padding: 0;
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

.hero h1,
.hero h2,
.hero h3 {
	font-family: "Montserrat", sans-serif;
}

header {
	background-color: rgba(51, 51, 51, 0.2);
	color: #fff;
	text-align: center;
	padding: 0.2rem 1rem;
}

.header h1 {
	font-family: "Bungee Spice", sans-serif;
}

.header {
	display: flex;
	justify-content: space-between;
}

.logo-link {
	text-decoration: none;
}

.header-right {
	display: flex;
	align-items: center;
}

.greet-user {
	color: whitesmoke;
}

.cart-icon {
	margin-right: 1rem;
}

.cart-icon i {
	font-size: 1.5rem;
	margin-right: 0.5rem;
}

.user-info {
	position: relative;
}

.user-info:hover {
	cursor: pointer;
}

.popover-menu {
	display: none;
	background-color: #cbcdd0;
	position: absolute;
	width: 100%;
	border-radius: 5px;
}

.popover-menu a {
	border-radius: 5px;
	text-decoration: none;
	color: #333;
	width: 100%;
	display: inline-block;
}

.popover-menu a:hover {
	background-color: #ddd8d8;
}

main {
	flex: 1;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 2rem;
}

.item-card {
	background-color: #f4f4f4;
	border-radius: 8px;
	box-shadow: 12px 10px 21px -6px rgba(0, 0, 0, 0.25);
	padding: 1.5rem;
	text-align: center;
	/* max-width: 300px; */
	width: 100%;
}

.item-image {
	max-width: 100%;
	height: auto;
	border-radius: 4px;
	margin-bottom: 1rem;
}

.item-name {
	font-size: 1.25rem;
	margin-bottom: 0.5rem;
}

.item-price {
	font-size: 1.1rem;
	font-weight: bold;
	color: #007bff;
	margin-bottom: 1rem;
}

.add-to-cart-btn {
	background-color: #28a745;
	color: #fff;
	border: none;
	border-radius: 4px;
	padding: 0.5rem 1rem;
	font-size: 1rem;
	cursor: pointer;
	transition: background-color 0.3s ease;
}

.add-to-cart-btn:hover {
	background-color: #218838;
}

footer {
	background-color: #333;
	color: #fff;
	text-align: center;
	padding: 1rem;
}

.product-grid {
	display: grid;
	grid-template-columns: repeat(4, minmax(300px, 1fr));
	gap: 1rem;
	width: 100%;
}

.success-message {
	text-transform: uppercase;
	color: #0d6303;
}

.error-message {
	text-transform: uppercase;
	color: rgb(165, 10, 10);
}

.cart-page {
	display: flex;
	flex-direction: column;
}

.cart-items {
	display: flex;
	gap: 1em;
}
