<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Home</title>
		<link rel="stylesheet" href="/css/style.css" />
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" />
		<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet" />
		<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap" rel="stylesheet" />
		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
		<link
			href="https://fonts.googleapis.com/css2?family=Bungee+Spice&family=Ubuntu:wght@300;400;700&display=swap"
			rel="stylesheet" />
		<script src="https://unpkg.com/scrollreveal"></script>
		<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css" />
	</head>
	<body>
		<header class="header">
			<a href="/home" class="logo-link">
				<h1>Stack and Shop</h1>
			</a>

			<section class="header-right">
				<a href="/cart" class="cart-icon" aria-label="View shopping cart">
					<i class="fas fa-shopping-cart"></i>
					<span class="sr-only">Cart</span>
					<span class="cart-count"></span>
				</a>
				<div class="user-info">
					<span class="greet-user">
						<i class="fa-regular fa-user"></i>
						<h2 class="username"></h2>
					</span>
					<div class="popover-menu">
						<a href="/orders">Orders</a>
						<a href="/logout">Logout</a>
					</div>
				</div>
			</section>
		</header>

		<main class="product-container">
			<div class="search-forms">
				<p id="pagination-summary"></p>
				<form id="search-form">
					<input type="text" id="search-input" placeholder="Search products..." />
					<button type="submit">Search</button>
				</form>
				<select id="sort-by">
					<option value="price">Price</option>
					<option value="name">Alphabetically</option>
				</select>
				<select id="order">
					<option value="asc">Ascending</option>
					<option value="desc">Descending</option>
				</select>
				<button id="reset-btn">Reset</button>
			</div>
			<div class="product-grid"></div>
			<div class="pagination">
				<button id="prev-btn">Previous</button>
				<span id="page-info"></span>
				<button id="next-btn">Next</button>
			</div>
		</main>

		<script src="../js/header.js"></script>
		<script src="../js/product-home.js" type="module"></script>
		<script src="../js/cart.js"></script>
		<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/toastify-js"></script>
	</body>
</html>
